body {
    background-color: beige;
    font-family: monospace;
    line-height: 1.5;
    font-size: 20px;
} 
h1{
    font-size: 45px;
    color: #743d15;
    margin: 30px inherit;
}
h2{
    font-size: 32px;
    margin: 40px 600px;
}